{% extends "base.html" %} {% block content %}
<header class="masthead" style="background-image:url('static/img/header-bg.jpg');">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"><span>Service for synchronizing RUZ and another calendars</span></div>
      <div class="intro-lead-in"><span>Last sync was at {{ syncDate }}</span></div>
      <div class="intro-heading text-uppercase"></div><a class="btn btn-primary btn-xl text-uppercase" role="button" href="{{ url_for('settings.index') }}">Settings</a>



    </div>
  </div>
</header>
{% endblock %}