{% extends "base.html" %} {% block content %}
<header class="masthead" style="background-image:url('static/img/header-bg.jpg');">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"><span style="font-size: 22px;">Enter your full name as in RUZ</span></div>
      <div class="intro-heading text-uppercase"></div>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="card m-auto" style="max-width:850px">
            <div class="card-body">
              <div class="rendered-form">
                <form method="POST" action="{{ url_for('settings.change') }}" class="align-items-center form-control form-control-lg flex-shrink-1 form-control-borderless">
                  <fieldset>

                    <!-- Form Name -->
                    <legend>Settings</legend>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="name">Full name</label>
                      <div>
                        <input type="hidden" id="fullname" name="name" value="{{ Person.name }}">
                        <input type="hidden" id="type" name="type" value="{{ Person.type }}">
                        <select id="name" name="ruzid" class="form-control">
                          <option value="{{ Person.ruzid }}" data-select2-id="{{ Person.ruzid }}">{{ Person.name }}</option>
                        </select>
                      </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="update">Update every</label>
                      <div>
                        <select id="update" name="update" class="form-control">
                          <option value="0" {% if Person.update=="0" %} selected="selected"{% endif %}>half hour</option>
                          <option value="1" {% if Person.update=="1" %} selected="selected"{% endif %}>hour</option>
                          <option value="2" {% if Person.update=="2" %} selected="selected"{% endif %}>2 hours</option>
                          <option value="3" {% if Person.update=="3" %} selected="selected"{% endif %}>4 hours</option>
                          <option value="4" {% if Person.update=="4" %} selected="selected"{% endif %}>8 hours</option>
                          <option value="5" {% if Person.update=="5" %} selected="selected"{% endif %}>day</option>
                          <option value="6" {% if Person.update=="6" %} selected="selected"{% endif %}>week</option>
                        </select>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="url">URL</label>
                      <div>
                        <input id="url" name="url" type="text" readonly class="form-control input-md" value="{{ baseURL }}static/schedules/RUZ.ics">
                        <span class="help-block">Paste it to your calendar</span>
                      </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                      <div class="col-md-4">
                        <button id="submit" name="submit" class="btn btn-success">Submit</button>
                      </div>
                    </div>

                  </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<script>
$("#update").select2();
$("#name").select2({
  minimumInputLength: 5,
  ajax: {
    url: "{{ baseURL }}proxy/https://ruz.hse.ru/api/search",
    dataType: 'json',
    delay: 500,
    data: function (params) {
      return {
        term: params.term
      };
    },
    processResults: function (data, params) {

      return {
        results: data
      };
    },
    cache: true
  },
  escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
  templateResult: formatPerson, // omitted for brevity, see the source of this page
  templateSelection: formatPersonSelection // omitted for brevity, see the source of this page
});

function formatPerson (person) {
    var markup = person.label + " (" + person.description + ")";
    return markup;
}

function formatPersonSelection (person) {
    return person.label || person.text;
}

$('#name').on('select2:select', function (e) {
  $('#fullname').attr('value', e.params.data.label);
  $('#type').attr('value', e.params.data.type);
  console.log(e.params.data);
});
</script>
{% endblock %}